body{
    background-color: white; 
}
/*
div#posts{
    background-color: red;
}

div.post{
    border: groove;
    border-width: 5px;
    position: relative;
    width: 400px;
    right: 0px;
    background-color: white;
}
*/
.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: auto;
  height: 40px;
  background-color: white;
}

.top-form {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: auto;
  height: auto;
  background-color: white;
}

.bottom-form {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: auto;
  height: auto;
  background-color: white;
}

.flash{
	background-color: black;
  color: white;
  border-radius:10px;
  font-family:Tahoma,Geneva,Arial,sans-serif;font-size:20px;
  margin:10px;
  text-align: center;
  padding: 10px;
}

   
