body{
    background-color: white; 
}

div#posts{
    background-color: red;
}

div.post{
    border: groove;
    border-width: 5px;
    position: relative;
    width: 400px;
    right: 0px;
    background-color: white;
}

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: auto;
  height: 40px;
  background-color: white;
}

.top-form {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: auto;
  height: auto;
  background-color: white;
}

.bottom-form {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: auto;
  height: auto;
  background-color: white;
}

 
.textbox {  
    border-top: solid 1px #8e8e8e; 
    border-right: solid 1px #d1d1d1; 
    border-left: solid 1px #d1d1d1; 
    border-bottom: solid 1px #e4e4e4; 
    height: 25px; 
    width: 275px; 
} 
 
.textbox:focus {  
    border-color: #4488cc; 
    border-style: solid; 
    border-width: 2px; 
    outline: 0; 
} 
   
