<html>
<head>
    <title>My Blog</title>
    <script type="text/javascript" src="/js/jquery-2.1.1.js"></script>
    <script type="text/javascript" src="/pure-layout-blog/js/ui.js"></script>
    <link rel="stylesheet" type="text/css" href="/pure-layout-side-menu/css/layouts/slide-menu.css">
    <link rel="stylesheet" type="text/css" href="/pure-layout-side-menu/css/layouts/slide-menu-old-ie.css">
    <!--<link rel="stylesheet" type="text/css" href="css/styles.css">-->
</head>
<body>
        <h1>Blog admin</h1>
        <hr>
        {{mainContent | raw}}
</body>
</html>
