<html>
<head>
    <title>My Blog</title>
    <script type="text/javascript" src="/js/jquery-2.1.1.js"></script>
    <!--<script type="text/javascript" src="/pure-layout-blog/js/ui.js"></script>-->
    <!--<link rel="stylesheet" type="text/css" href="/css/slide-menu.css">-->
    <!--<link rel="stylesheet" type="text/css" href="/css/slide-menu-old-ie.css">-->
    <link rel="stylesheet" type="text/css" href="/css/skin.css">
    <!--<link rel="stylesheet" type="text/css" href="/css/styles.css">-->
    <link rel="stylesheet" type="text/css" href="/css/menus.css">
    <link rel="stylesheet" type="text/css" href="/css/menus-nr.css">
    <link rel="stylesheet" type="text/css" href="/css/menus-paginator.css">
    <link rel="stylesheet" type="text/css" href="/css/grids.css">
    <link rel="stylesheet" type="text/css" href="/css/grids-units.css">
    <link rel="stylesheet" type="text/css" href="/css/grids-responsive.css">
    <link rel="stylesheet" type="text/css" href="/css/grids-responsive-old-ie.css">
    <link rel="stylesheet" type="text/css" href="/css/pure.css">
</head>
<body>
	{{mainContent | raw}}   
</body>
</html>
