<html>
<head>
    <title>My Blog</title>
    <script type="text/javascript" src="js/jquery-2.1.1.js"></script>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
        <h1>Blog</h1>
        <hr>
        {{mainContent | raw}}
</body>
</html>
