<html>
<head>
    <titile>My Blog</title>
    <script type="text/javascript" src="js/jquery-2.1.1.js"></script>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
        <h1>Blog</h1>
        <hr>
        <form id="new_post" action="/posts" method="post">
        <input type="text" placeholder="Post Title" name="title"><br>
        <textarea name="content"></textarea>
        <button type="submit">Submit</button>
        </form>
</form> 
</body>
</html>
