<html>
<head>
    <titile>My Blog</title>
    <script type="text/javascript" src="js/jquery-2.1.1.js"></script>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
        <h1>Blog</h1>
        <hr>
	<form action="/posts" method="put">
	    Title: <input type="text" placeholder="{{post.title}}" id="title_text"> <br>
	    Content: <br>
	    <textarea name="content" placeholder="{{post.content}}" id="content_text"></textarea>
	    <br>
	    <button type="submit" id="submit_button">Submit</button>
	</form>
	<script type="text/javascript">
	    $("#submit_button").click( function() {
		$.ajax({
		    type: "PUT",
		    url: "/posts",
		    contentType: "application/json",
		    data: {"id": "{{post.id}}", "title" : $("#title_text").text() , "content" : $("#content_text").text()}
		});		      
	    });
	</script>
</body>
</html>
