<div class="content pure-u-1 pure-u-md-3-4">
	<div>
		{% if loggedin %}
		You are already logged in.
		{% else %}
		<h2>Please login:</h2> 
		<form action="/login/auth" method="post" class="pure-form">
		    <p><input type="text" name="user" placeholder="Username"/></p>
		    <p><input type="password" name="password" placeholder="Password"/></p>
		    <p>
		    <button type="submit" class="pure-button pure-button-primary">Login</button>
		    <button type="reset" class="pure-button pure-button-primary">Reset</button>
		    </p>
		</form>
		{% endif %}
	 </div>
</div>

