<form id="new_post" action="/posts/create" method="post">
<input type="text" placeholder="Post Title" name="title"><br>
<textarea name="content"></textarea>
<button type="submit">Submit</button>
</form>
<hr>
<form action="/login/logout" method="post">
    <button type="Submit">Logout</button>
</form>